<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <b><p style="font-size: 30px; text-align: center;padding: 20px; background-color: rgb(12, 248, 236);">Login</p></b>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="padding: 5px;background-color:rgb(4, 110, 248);" type="submit">login</button>
    </form>
</body>
</html>